
.swiper {
  width: 100%;
  height: 60vh;
}

.swiper-slide {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 18px;
  background: #444;

  
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}
.mySwiper{
  width: 100%;
}
