

.product-card{
    width: 300px;
    height: 420px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 10px 2px rgba(0,0,0,.2);
}
.product-card img{
    width: 100%;
    height: 50%;
    object-fit: cover;
    object-position: center;
}
.product-card div{
    padding: 15px 5%;

}
.product-card h2{
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
}
.product-card div p{
    text-align: justify;
    font-size: 16px;
}
.product-card div a{
    color: white;
    padding: 10px 15px;
    float: right;
    margin-top: 20px;
    background-color: steelblue;
    border-radius: 20px;
}