
.product-card{
    width:300px ;
    height: 420px;
    border-radius: 20px;
    box-shadow: 0 0 10px 2px rgba(253, 252, 252, 0.2);
    overflow: hidden;
    color: rgb(163, 161, 161);
}
.product-card img{
    width: 100%;
    height: 50%;
    object-fit: fill;
    object-position: center;
    
}
.product-card div{
    padding: 15px 5%;

}
.product-card div h2{
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}
.product-card div p{
    text-align: justify;
    font-size: 16px;
}
.product-card div a{
    color: white;
    padding: 10px 15px;
    float: right;
    margin-top: 20px;
    background-color: rgb(96, 126, 151);
    border-radius: 5px;
}