.nav{
    background-color: rgb(76, 74, 72);
    display: flex;
    padding: 0 5%;
    height: 70px;
    align-items: center;
    justify-content: space-between;
}
.nav ul{
    display: flex;
    gap: 20px;
}
.nav ul li a , .nav ul li span{
    font-size: 24px;
    color: white;
    cursor: pointer;
    text-shadow: 0px 2px 5px rgba(241, 240, 240, 0.954);
}
.nav h1{
    font-size: 32px;
    color: white;
    text-shadow: 0px 2px 5px rgba(241, 240, 240, 0.954);
}