*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
}

body{
    background-color: rgb(76, 74, 72);
}
main{
    min-height: 20vh;
}