.container{
    display: flex;
    justify-content: space-between;
    width: 95%;
    height: 60vh;
    margin: 50px auto;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 10px 2px rgba(250, 250, 250, 0.2);
    color: rgb(214, 211, 211);
}
.container img{
    width: 30%;
    height: 100%;
}
.container > div{
    padding: 10px 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}
.container h2{
    text-align: center;
    margin-bottom: 20px;

}
.container p{
    text-align: justify;
}

.btnDanger{
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    background-color: red;
    margin: 10px 20px;
}
.btnSuccess{
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    background-color: green;
    margin: 10px 20px;

}
.buttonDiv{
    display: flex;
    align-items: center;
}