.container{
    display: flex;
    justify-content: space-between;
    width: 95%;
    height: 50vh;
    margin: 50px auto;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 10px 2px rgba(250, 250, 250, 0.2);
    color: rgb(214, 211, 211);
}
.container img{
    width: 30%;
    height: 100%;
}
.container > div{
    padding: 10px 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}
.container h2{
    text-align: center;
    margin-bottom: 20px;

}
.container p{
    text-align: justify;
}